[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = git@github.com:zzsqwq/hugo-coder.git
[submodule "themes/hugo-PaperMod"]
	path = themes/hugo-PaperMod
	url = git@github.com:zzsqwq/hugo-PaperMod.git
